<%- include("partials/header.ejs") %>


<div class="ui container">
    <div class="login-header-container">
        <h1 class="ui header">Login</h1>
    </div>
    

    <div class="form-container ui segment">
        <form class="ui form" action="/dogs/login" method="POST">
            <div class="field">
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" placeholder="password">
            </div>
            
            <button class="ui primary button" type="submit">Submit</button>
            <a href="/dogs" class="ui negative button">Cancel</a>
          </form>
    </div> 
</div>









<%- include("partials/footer.ejs") %>