<%- include("partials/header.ejs") %>

    <form action="/dogs" method="POST">      
        <div class="field">
            <label for="dog[breed]">Breed</label>
            <input type="text" name="dog[breed]" placeholder="Dog's Breed">
        </div>

        <div class="field">
            <label for="dog[image]">Image</label>
            <input type="text" name="dog[image]" placeholder="Dog's Photo">
        </div>

        <div class="field">
            <label for="dog[credits]">Image Credits</label>
            <input type="text" name="dog[credits]" placeholder="Image Credits">
        </div>

        <div class="field">
            <label for="dog[about]">About</label>
            <textarea name="dog[about]" id="dog-about" cols="20" rows="10" placeholder="Dog's About" required></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>


<%- include("partials/footer.ejs") %>