body {
    background-color: #FFFFFF;
}
body #fonts {
    font-family: 'Piazzolla', serif;
}
.top-bar {
    justify-content: center;
}
.ui.menu .item::before {
    width: 0;
}
.ui.segment {
    margin: auto;
}
i {
    padding-left: 10px;
    height: 1em;
}
#main-content {
    margin-top: 20px;
    margin-bottom: 30px;
}
.ui.grid > .row > .column {
    margin-bottom: 25px;
}
.item-content {
    height: 190px;
    margin-top: 16px;
    text-align: center;
}
.ui.image.thumbnail {
    height: 182px;
    max-width: 273px;
    width: 100%;
}
.item-title {
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
}
.ui.grid.show-grid {
    margin-top: 10px;
}
.show-container {
    max-width: 800px;
    margin: 30px auto auto auto;
}
.show-item-content {
    margin-top: 16px;
}
.ui.grid.show-grid {
    align-items: center;
}
.back-btn {
    padding-left: 10px;
    font-size: 1.1rem;
}
.show-item-credits, .show-item-createdAt {
    margin-top: 30px;
}
.item-credits-title, .show-item-createdAt {
    text-align: left;
    font-weight: 100;
    opacity: 0.8;
    font-size: 0.8rem;
}
.show-item-buttons-container {
    margin-top: 15px;
}
#delete {
    display: inline;
}
.ui.segment.form-container {
    max-width: 600px;
    margin-top: 30px;
}
.main-show-card {
    margin: auto;
}



/* ========== */
.ui.grid.grid-test-container {
    margin-bottom: 40px;
}


.grid-test {
    background-color: lightgray;
    border: 1px solid purple;
}
